
header {
    background-color: #527bff;
    color: #fff;
    padding: 20px 0;
    
}
main {
    padding: 20px;
    margin-bottom: 60px; 
}
body {
    background-color: #ffffff;
}
footer {
    background-color: #527bff;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}